body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--bg-image);
  color: var(--bg);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #152D35;
  --bg-accent: #345B63;
  --text-color: #D4ECDD;
  --nav-size: 60px;
  --bg-image: url(./assets/subtle-prism-blue.svg);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.5s;
  text-decoration: none;
}

input{
  border-radius: 5px;
  font-size: 20px;
  max-width: 400px;
  text-align: center;
  background-color: var(--text-color);
  border-color: var(--bg);
  margin: 20px;
}

.toggle{
  border-radius: 5px;
  font-size: 20px;
  max-width: 400px;
  text-align: center;
  background-color: var(--text-color);
  border-color: var(--bg);
  margin: 20px;
}

input:hover{
  color: var(--bg);
  transform: scale(1.05);
  transition: 0.5s;
  text-decoration: none;
}

.form-group{
  border-radius: 15px;
}

select{
  max-width: 100px;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--text-color);
  border-color: var(--bg);
}

form{
  text-align: center;
}

.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  justify-content: flex-start;
  animation: slideDown 0.5s;
 }

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background-color: var(--bg-accent);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-home-button {
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 10px;
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-logout-button {
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 10px;
  margin-left: calc(100vw - 330px);
  right: 0;
  display: flex;
  align-items: right;
  justify-content: right;
}

.submit-button {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  align-content: space-around;
  color: white;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--bg);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  animation: slideUp 0.5s;
}

.footer-link{
  margin:10px
}

.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  animation: fadeIn 3s;
}

.currencyrow{
  align-items: center;
  justify-content: center;
}

.currencychg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  animation: slide 1s;
}

.equals{
  font-size:30px
}

.title{
  text-align: center;
  margin-top: 50px;
}

.about{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.contact{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.social{
  margin:5px
}

.buy{
  display:block;
  animation: slideDownBuy 0.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDownBuy {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1; 
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}